[submodule "mini_course_2025/session_1/hedgedoc"]
	path = mini_course_2025/session_1/hedgedoc
	url = https://github.com/hedgedoc/hedgedoc.git
[submodule "mini_course_2025/session_1/structurizr/structurizr-onpremises"]
	path = mini_course_2025/session_1/structurizr/structurizr-onpremises
	url = git@github.com:structurizr/onpremises.git
[submodule "mini_course_2025/session_1/structurizr/structurizr-ui"]
	path = mini_course_2025/session_1/structurizr/structurizr-ui
	url = git@github.com:structurizr/ui.git
[submodule "mini_course_2025/mini_course_2025/session_3/Pysa/pyre-check"]
	path = mini_course_2025/mini_course_2025/session_3/Pysa/pyre-check
	url = https://github.com/the-storm/pyre-check.git
