[submodule "mini_course_2025/session_1/struturizr/structurizr-onpremises"]
	path = mini_course_2025/session_1/struturizr/structurizr-onpremises
	url = git@github.com:structurizr/onpremises.git
[submodule "mini_course_2025/session_1/struturizr/structurizr-ui"]
	path = mini_course_2025/session_1/struturizr/structurizr-ui
	url = git@github.com:structurizr/ui.git
[submodule "mini_course_2025/session_1/hedgedoc"]
	path = mini_course_2025/session_1/hedgedoc
	url = https://github.com/hedgedoc/hedgedoc.git
